<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Same great experiences<br> just better with <span>SmarterCard</span></h2>
				<h4>Colchester, Basildon and surrounding areas</h4>
				<form>
				<div class="row">
					<div class="col-xs-4 col-md-4">
						<input class="form-control" name="firstname" placeholder="First Name" type="First Name"
							required autofocus />
					</div>
					<div class="col-xs-8 col-md-8">
						<input class="form-control" name="lastname" placeholder="Email Address" type="text" required />
					</div>
				</div>
				<button class="btn btn-lg btn-primary btn-block btn-pc" type="submit">
					SIGN UP TODAY – it’s free to get started
				</button>
				<button class="btn btn-lg btn-primary btn-block btn-phone" type="submit">
					SIGN UP TODAY<br> – it’s free to get started
				</button>
				<h3>Already a member? <a href="javascript:">Login</a></h3>
				</form>
				<a href class="areo"><img src="assets/images/areo-top.png"></a>
			</div>
		</div>
	</div>
	<div class="show-packages">
		<a href="javascript:"><img src="assets/images/show.png"></a>
	</div>
	<div class="packages-bt">
		<a href="javascript:"><img src="assets/images/Rectangle_8.png"></a>
	</div>
</div>