<div class="voucher-bg">
	<div class="ccontainer-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="basildon">
					<div id="carousel-example-generic7" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic7" data-slide-to="0" class=""></li>
							<li data-target="#carousel-example-generic7" data-slide-to="1" class="active"></li>
							<li data-target="#carousel-example-generic7" data-slide-to="2"></li>
							<li data-target="#carousel-example-generic7" data-slide-to="3"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<div class="sing-sil">
									<img src="assets/images/Bitmap.png" alt="...">
									<h2>20% off voucher</h2>
									<h3>Colchester and Basildon</h3>
									<p>Sign up today for your free trial and you'll receive your SmarterCard and members vouchers within 4 days.</p>
									<a href="#">SIGN UP TODAY</a>
								</div>
							</div>
							<div class="item">
								<div class="sing-sil">
									<img src="assets/images/Bitmap.png" alt="...">
									<h2>20% off voucher</h2>
									<h3>Colchester and Basildon</h3>
									<p>Sign up today for your free trial and you'll receive your SmarterCard and members vouchers within 4 days.</p>
									<a href="#">SIGN UP TODAY</a>
								</div>
							</div>
							<div class="item">
								<div class="sing-sil">
									<img src="assets/images/Bitmap.png" alt="...">
									<h2>20% off voucher</h2>
									<h3>Colchester and Basildon</h3>
									<p>Sign up today for your free trial and you'll receive your SmarterCard and members vouchers within 4 days.</p>
									<a href="#">SIGN UP TODAY</a>
								</div>
							</div>
							<div class="item">
								<div class="sing-sil">
									<img src="assets/images/Bitmap.png" alt="...">
									<h2>20% off voucher</h2>
									<h3>Colchester and Basildon</h3>
									<p>Sign up today for your free trial and you'll receive your SmarterCard and members vouchers within 4 days.</p>
									<a href="#">SIGN UP TODAY</a>
								</div>
							</div>
						</div>
						<!-- Controls -->
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card-row">
					<h2>Get your <br>free second <br>Smarter <span>Card </span></h2>
					<p>Sometimes one just <br>isn’t enough. Claim a <br>free card for your <br>partner worth £4.95.</p>
					<a href="#">CLAIM TODAY</a>
				</div>
			</div>
		</div>
	</div>
</div>