<div class="phone">
	<div class="container">
		<div class="cars-drop">
			<h4>Where can I use <br>SmarterCard?</h4>
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Colchester (and surrounding
					areas)
					<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">Colchester (and surrounding areas)</a></li>
					<li><a href="#">Colchester (and surrounding areas)</a></li>
					<li><a href="#">Colchester (and surrounding areas)</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="slider slider-nav slider-list">
					<li>
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<h6>3</h6>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">
										<img src="assets/images/Bitmap.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>

								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
							</div>
							<!-- Controls -->
						</div>
						<a class="offers" href="#"><span><img src="assets/images/certificate5.png"></span>SEE OUR OFFERS</a>
					</li>

					<li>
						<div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
							<h6>9</h6>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic1" data-slide-to="0"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="2" class="active"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="3"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="4"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="5"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="6"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="7"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="8"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
							</div>

							<!-- Controls -->

						</div>
					</li>
					<li>
						<div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
							<h6>1</h6>
							<!-- Indicators -->
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">

										<img src="assets/images/Bitmap2.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">
										<img src="assets/images/Bitmap2.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
							</div>

							<!-- Controls -->

						</div>
					</li>
					<li>
						<div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
							<h6>2</h6>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic3" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic3" data-slide-to="1"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">

										<img src="assets/images/Bitmap3.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap3.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>


							</div>

							<!-- Controls -->

						</div>
						<a class="offers" href="#"><span><img src="assets/images/certificate5.png"></span>SEE OUR OFFERS</a>
					</li>
					<li>
						<div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<h6>1</h6>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">

										<img src="assets/images/Bitmap4.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap4.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>


							</div>

							<!-- Controls -->

						</div>
						<a class="offers" href="#"><span><img src="assets/images/certificate5.png"></span>SEE OUR OFFERS</a>
					</li>
					<li>
						<div id="carousel-example-generic5" class="carousel slide" data-ride="carousel">
							<h6>3</h6>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic5" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic5" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic5" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">
										<img src="assets/images/Bitmap4.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">
										<img src="assets/images/Bitmap4.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>


							</div>

							<!-- Controls -->

						</div>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="slider-bg">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2>Where can I use <span>SmarterCard?</span></h2>
			</div>
			<div class="col-md-12">
				<div class="chebox-bx">
					<div class="boxes">
						<input type="checkbox" id="box-1" checked>
						<label for="box-1">Colchester </label>
						<h3>(and surrounding areas <span><i class="fa fa-info-circle" aria-hidden="true"></i></span> )</h3>
					</div>
					<div class="boxes">
						<input type="checkbox" id="box-2">
						<label for="box-2">Basildon</label>
						<h3>(and surrounding areas <span><i class="fa fa-info-circle" aria-hidden="true"></i></span> )</h3>
					</div>
				</div>
				<ul class="slider-list scrollbar" id="style-3">
					<li>
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<h6>3</h6>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">
										<img src="assets/images/Bitmap.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>

								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
							</div>
							<!-- Controls -->
						</div>
						<a class="offers" href="#"><span><img src="assets/images/certificate5.png"></span>SEE OUR OFFERS</a>
					</li>

					<li>
						<div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
							<h6>9</h6>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic1" data-slide-to="0"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="2" class="active"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="3"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="4"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="5"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="6"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="7"></li>
								<li data-target="#carousel-example-generic1" data-slide-to="8"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap1.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
							</div>

							<!-- Controls -->

						</div>
					</li>
					<li>
						<div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
							<h6>1</h6>
							<!-- Indicators -->
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">

										<img src="assets/images/Bitmap2.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">
										<img src="assets/images/Bitmap2.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
							</div>

							<!-- Controls -->

						</div>
					</li>
					<li>
						<div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
							<h6>2</h6>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic3" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic3" data-slide-to="1"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">

										<img src="assets/images/Bitmap3.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap3.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>


							</div>

							<!-- Controls -->

						</div>
						<a class="offers" href="#"><span><img src="assets/images/certificate5.png"></span>SEE OUR OFFERS</a>
					</li>
					<li>
						<div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<h6>1</h6>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">

										<img src="assets/images/Bitmap4.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">

										<img src="assets/images/Bitmap4.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>


							</div>

							<!-- Controls -->

						</div>
						<a class="offers" href="#"><span><img src="assets/images/certificate5.png"></span>SEE OUR OFFERS</a>
					</li>
					<li>
						<div id="carousel-example-generic5" class="carousel slide" data-ride="carousel">
							<h6>3</h6>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic5" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic5" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic5" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="slide1">
										<img src="assets/images/Bitmap4.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>
								<div class="item">
									<div class="slide1">
										<img src="assets/images/Bitmap4.png" alt="...">
										<ul class="ster">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
										</ul>
										<h2><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Festival Leisure Park, <br>Basildon SS14
											3TJ</h2>
										<h3><span><i class="fa fa-phone" aria-hidden="true"></i></span>01268 524113</h3>
									</div>
								</div>


							</div>

							<!-- Controls -->

						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>