<div class="smart-card">
	<div class="container">
		<div class="row">
			<div class="top-title">
				<h2><span>SmarterCard</span>in 3 easy steps!</h2>
			</div>
			<div class="col-md-12">
			   <div class="slider-nav card-box">
				<li>
						<div class="seteps-img">
							<img src="assets/images/20-layers.png">
							<h5>1</h5>
						</div>
						<h2>Find a venue or <br>Restaurant </h2>
						<p>Visit any affiliated venue <br>just the same as you would <br>do without SmarterCard.</p>
					</li>
					<li>
						<div class="seteps-img">
							<img src="assets/images/dolor.png">
							<h5>2</h5>
						</div>	
						<h2>Present<br>SmarterCard </h2>
						<p>Simply present your <br>SmarterCard and preferred <br>voucher at time of payment.</p>
					</li>
					<li>
						<div class="seteps-img">
							<img src="assets/images/Group2.png">
							<h5>3</h5>
						</div>	
						<h2>Save lots of <br>money!</h2>
						<p>Staff will redeem your voucher <br>and present you with a bill with <br>the discount deducted.</p>
					</li>
			  </div>
			</div>   
		</div>
	</div>
</div>