<div class="top-navbar">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
				<ul class="tab-nav ">
					<div class="show-bt">
						<li class="free-bt"><a href="#">FREE TRIAL</a></li>
						<li class="free-bt"><a href="#">AFFILIATE LOGIN</a></li>
					</div>
				</ul>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-x">
				<ul class="nav navbar-nav navbar-right">
					<li data-toggle="collapse" data-target="#navbar-collapse.in"><a href="#">How it works?</a><span><i class="fa fa-chevron-right"
							 aria-hidden="true"></i></span></li>
					<li data-toggle="collapse" data-target="#navbar-collapse.in"><a href="#">Colchester</a><span><i class="fa fa-chevron-right"
							 aria-hidden="true"></i></span></li>
					<li data-toggle="collapse" data-target="#navbar-collapse.in"><a href="#">Basildon</a><span><i class="fa fa-chevron-right"
							 aria-hidden="true"></i></span></li>
					<li><a href="#">Restaurants</a><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
					<li><a href="#">Venues</a><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
					<li><a href="#">Blog</a><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
					<li><a href="#">Contact us</a><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
					<li class="free-bt"><a href="#">FREE TRIAL</a></li>
					<li class="free-bt"><a href="#">AFFILIATE LOGIN</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>