<!-- Other Section-->
<div class="smart-card-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="atm-card">
					<p>Same great experiences just better with <span>SmarterCard</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<ul>
						<li><a href="#">How it works?</a></li>
						<li><a href="#">Colchester</a></li>
						<li><a href="#">Basildon</a></li>
						<li><a href="#">Restaurants</a></li>
						<li><a href="#">Venues</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Follow us</h5>
					<ul class="follow-vs">
						<li><span><i class="fa fa-facebook-official" aria-hidden="true"></i></span><a href="#">Facebook</a></li>
						<li><span><i class="fa fa-twitter" aria-hidden="true"></i></span><a href="#">Twitter</a></li>
						<li><span><i class="fa fa-youtube-play" aria-hidden="true"></i></span><a href="#">YouTube</a></li>
						<li><span><i class="fa fa-google-plus" aria-hidden="true"></i></span><a href="#">Google+</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="footer-slider">
						<div id="carousel-example-generic8" class="carousel slide" data-ride="carousel">
								  <!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic8" data-slide-to="0" class=""></li>
							<li data-target="#carousel-example-generic8" data-slide-to="1" class="active"></li>
							<li data-target="#carousel-example-generic8" data-slide-to="2"></li>
							<li data-target="#carousel-example-generic8" data-slide-to="3"></li>
						</ol>

						 <!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<div class="footer-bxx">									
									<h2><span>“</span>SmarterCard is an exciting <br>club. Members save a fortune<br> and as a result dine out more</h2>
									<h3>Mark Baumann</h3>
									<h4>Restauranteur & MasterChef of Great Britain</h4>
								</div>									   
							</div>
							<div class="item">
								<div class="footer-bxx">									
									<h2><span>“</span>SmarterCard is an exciting <br>club. Members save a fortune<br> and as a result dine out more</h2>
									<h3>Mark Baumann</h3>
									<h4>Restauranteur & MasterChef of Great Britain</h4>
								</div>									  
							</div>	
							<div class="item">
								<div class="footer-bxx">									
									<h2><span>“</span>SmarterCard is an exciting <br>club. Members save a fortune<br> and as a result dine out more</h2>
									<h3>Mark Baumann</h3>
									<h4>Restauranteur & MasterChef of Great Britain</h4>
								</div>									  
							</div>
							<div class="item">
								<div class="footer-bxx">									
									<h2><span>“</span>SmarterCard is an exciting <br>club. Members save a fortune<br> and as a result dine out more</h2>
									<h3>Mark Baumann</h3>
									<h4>Restauranteur & MasterChef of Great Britain</h4>
								</div>										  
							</div>	
						</div>
						 <!-- Controls -->			 
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<p>All Rights Reserved - Registered in England, Company No. 3120702 - <span>Terms & Conditions  |  Privacy  |  Sitemap  |  Contact</span></p>
			</div>
		</div>
	  </div>
</footer>
